---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import TentangKami from '../components/sections/TentangKami.astro';
import JasaKonveksi from '../components/sections/JasaKonveksi.astro';
import OurCustomers from '../components/sections/OurCustomers.astro';
import Portofolio from '../components/sections/Portofolio.astro';
import FAQ from '../components/sections/FAQ.astro';
import Kontak from '../components/sections/Kontak.astro';
---

<Layout title="Konveksi Termurah di Malang">
  <Navbar />
  <main>
    <Hero />
    <TentangKami />
    <JasaKonveksi />
    <OurCustomers />
    <Portofolio />
    <FAQ />
    <Kontak />
  </main>
</Layout>
